In [ ]:
#Function - Its a block of code which executes when we call it.
def example():
  print("Hi Everyone")

In [ ]:
example()

Hi Everyone

In [ ]:
def dept(fname):
  print(fname + " helps to generate revenue")

dept("HR")

HR helps to generate revenue

In [ ]:
def example_1(string):
  return len(string)
print("length of string is",example_1("Python Programming"))

length of string is 18

In [ ]:
text = "This is function topic in python"
def anytext(any):
  '''
  input:
    anytext-str
  output:
    anytext-str
  '''
  output = text +any.upper()
  return output

In [ ]:
anytext('Hello Everyone')

'This is function topic in pythonHELLO EVERYONE'

In [ ]:
def multiply(*numbers):
  total = 1
  for number in numbers:
    total *= number
  return total

In [ ]:
multiply(2,3,4,1,3)

72

In [ ]:
def emp_1(** emp):
  print(emp)

In [ ]:
emp_1(id=1,name="Steve",age=26)

{'id': 1, 'name': 'Steve', 'age': 26}

In [ ]:
#task - define a function for employees with string "emp works with", id, name and dept
def Emp(** E):
  print("Employee works with ",E)

In [ ]:
Emp(id=30,name="Mark",dept="Engineering")

Employee works with  {'id': 30, 'name': 'Mark', 'dept': 'Engineering'}

In [ ]:
def employee_details(emp_id, name, dept):
  return print(name,"(",emp_id,")","works in",dept,"department.")
employee_details(30,"Mark","Sales")

Mark ( 30 ) works in Sales department.